In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('data_edited.csv')

In [5]:
print (data.head())

   Unnamed: 0  Unnamed: 0.1         id       price    amount   sell  \
0           0             0  183601815  7349.60000  0.004568  False
1           1             1  183601825  7354.68045  0.010000   True
2           2             2  183601823  7354.68045  0.004568   True
3           3             3  183601833  7354.60000  0.102395  False
4           4             4  183601904  7343.40750  0.086580  False

         date      time
0  2018-02-02  02:00:08
1  2018-02-02  02:00:09
2  2018-02-02  02:00:09
3  2018-02-02  02:00:10
4  2018-02-02  02:00:26

In [8]:

del data['Unnamed: 0.1']

In [9]:
data.head()

          id       price    amount   sell        date      time
0  183601815  7349.60000  0.004568  False  2018-02-02  02:00:08
1  183601825  7354.68045  0.010000   True  2018-02-02  02:00:09
2  183601823  7354.68045  0.004568   True  2018-02-02  02:00:09
3  183601833  7354.60000  0.102395  False  2018-02-02  02:00:10
4  183601904  7343.40750  0.086580  False  2018-02-02  02:00:26

In [13]:
list = [x.split(':') for x in data['time']]
hours = []
seconds = []
minutes = []

for x in list:
    hours.append(x[0])
    seconds.append(x[1])
    minutes.append(x[2])

data['hours'] = hours
data['minutes'] = minutes
data['seconds'] = seconds

In [17]:
data.to_csv('preprocessed1.csv')