In [6]:
import pyarrow.parquet as pq

In [7]:
table = pq.read_table('tBTCUSD_trades.parquet')
print(table.to_pandas())

            ID            MTS    AMOUNT        PRICE
0    264428531  1530550380219 -0.200000  6622.000000
1    264428520  1530550374735 -0.290001  6622.000000
2    264428512  1530550370966  0.118359  6622.100000
3    264428511  1530550370963  0.432000  6622.100000
4    264428510  1530550370961  0.302020  6622.100000
5    264428509  1530550370957  0.147621  6622.100000
6    264428506  1530550369359  0.002379  6622.100000
7    264428505  1530550369357  0.010000  6622.100000
8    264428495  1530550366557 -0.133438  6622.000000
9    264428494  1530550366555 -0.086557  6622.000000
10   264428482  1530550363983 -0.251479  6622.000000
11   264428453  1530550356254 -0.121000  6622.000000
12   264428437  1530550350205 -0.020000  6622.000000
13   264428424  1530550348494  0.063056  6622.300000
14   264428416  1530550344975 -0.015000  6622.000000
15   264428415  1530550344973 -0.030000  6622.100000
16   264428408  1530550342010 -0.970000  6622.000000
17   264428407  1530550342007 -0.030000  6622.200000
18   264428398  1530550338848 -0.010000  6622.000000
19   264428397  1530550338580 -0.290000  6622.000000
20   264428392  1530550337596  0.068251  6622.100000
21   264428391  1530550337594  0.030000  6622.100000
22   264428390  1530550337591  0.090000  6622.100000
23   264428389  1530550337551 -0.100000  6622.000000
24   264428384  1530550335044 -0.100000  6622.000000
25   264428370  1530550330716 -0.100000  6622.000000
26   264428363  1530550327398 -1.930000  6622.000000
27   264428362  1530550327358  0.010000  6622.100000
28   264428346  1530550325556  0.187915  6622.100000
29   264428345  1530550325553  0.111035  6622.100000
..         ...            ...       ...          ...
995  264421246  1530548940680 -0.010000  6607.000000
996  264421245  1530548940674 -0.010000  6607.000000
997  264421244  1530548940669 -0.010000  6607.000000
998  264421243  1530548940663 -0.005000  6607.000000
999  264421242  1530548940657 -0.010000  6607.000000
0    264428531  1530550380219 -0.200000  6622.000000
0    264428531  1530550380219 -0.200000  6622.000000
0    264428531  1530550380219 -0.200000  6622.000000
0    264428539  1530550384551  0.005000  6622.100000
1    264428531  1530550380219 -0.200000  6622.000000
0    264428547  1530550385065 -0.329468  6620.900000
1    264428546  1530550385064 -0.030000  6621.900000
2    264428545  1530550385061 -0.850000  6622.000000
3    264428544  1530550385059 -1.787586  6622.000000
4    264428539  1530550384551  0.005000  6622.100000
0    264428547  1530550385065 -0.329468  6620.900000
0    264428547  1530550385065 -0.329468  6620.900000
0    264428569  1530550388538 -1.000000  6618.000000
1    264428568  1530550388116 -0.517577  6618.000000
2    264428567  1530550388114 -0.158900  6618.000000
3    264428566  1530550388113 -0.004000  6618.000000
4    264428565  1530550388111 -0.868523  6618.663936
5    264428563  1530550388106 -0.641477  6618.663936
6    264428561  1530550388101 -0.174623  6619.100000
7    264428560  1530550388099 -0.050000  6619.200000
8    264428559  1530550388096 -0.081900  6619.600000
9    264428558  1530550388094 -0.030000  6619.900000
10   264428557  1530550388091 -0.002000  6620.000000
11   264428547  1530550385065 -0.329468  6620.900000
0    264428569  1530550388538 -1.000000  6618.000000

[1025 rows x 4 columns]

In [8]:
table2 = pq.read_table('tDADBTC_trades.parquet')
print(table2.to_pandas())

            ID            MTS  AMOUNT     PRICE
0    264428921  1530550487611  -225.0  0.000020
1    264428884  1530550473589   246.0  0.000020
2    264428848  1530550458844  -234.0  0.000020
3    264428814  1530550448945   272.0  0.000020
4    264428746  1530550426905   143.0  0.000020
5    264428662  1530550417078  -168.0  0.000020
6    264428619  1530550402952  -189.0  0.000019
7    264428593  1530550392086   208.0  0.000019
8    264428499  1530550367262   140.0  0.000019
9    264428442  1530550352161  -137.0  0.000019
10   264428409  1530550342190  -131.0  0.000020
11   264428379  1530550333126   -99.0  0.000020
12   264428234  1530550310418  -151.0  0.000020
13   264428140  1530550294371   160.0  0.000020
14   264428131  1530550289353   126.0  0.000019
15   264428065  1530550270256   158.0  0.000019
16   264427933  1530550246588   171.0  0.000020
17   264427912  1530550243584   188.0  0.000020
18   264427857  1530550226384  -182.0  0.000019
19   264427778  1530550214540  -206.0  0.000019
20   264427676  1530550188945  -163.0  0.000020
21   264427599  1530550173879  -175.0  0.000020
22   264427580  1530550169502   124.0  0.000020
23   264427539  1530550152911  -124.0  0.000020
24   264427449  1530550131226   136.0  0.000020
25   264427289  1530550115670  -182.0  0.000020
26   264427253  1530550108259  -127.0  0.000020
27   264427200  1530550093827  -176.0  0.000020
28   264427067  1530550069508  -197.0  0.000020
29   264427019  1530550058293  -192.0  0.000019
..         ...            ...     ...       ...
979  264227734  1530533202273  -204.0  0.000019
980  264227680  1530533181234   196.0  0.000019
981  264227631  1530533170266   152.0  0.000019
982  264227594  1530533145703  -259.0  0.000019
983  264227573  1530533131624   226.0  0.000019
984  264227525  1530533118712  -218.0  0.000019
985  264227510  1530533113627   252.0  0.000019
986  264227466  1530533093154  -185.0  0.000019
987  264227449  1530533085047   140.0  0.000019
988  264227422  1530533057993   158.0  0.000019
989  264227416  1530533050082   164.0  0.000019
990  264227402  1530533032491   194.0  0.000019
991  264227389  1530533019420   213.0  0.000019
992  264227345  1530532997798   181.0  0.000019
993  264227325  1530532992306   188.0  0.000019
994  264227249  1530532965783  -216.0  0.000019
995  264227212  1530532951731   283.0  0.000019
996  264227182  1530532938922  -282.0  0.000019
997  264227163  1530532932677   227.0  0.000019
998  264227104  1530532906200  -115.0  0.000019
999  264227077  1530532896674  -110.0  0.000019
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020
0    264428921  1530550487611  -225.0  0.000020

[1009 rows x 4 columns]

In [9]:
table3 = pq.read_table('tIOSBTC_trades.parquet')
print(table3.to_pandas())

            ID            MTS        AMOUNT     PRICE
0    264425501  1530549646935  -3029.958720  0.000004
1    264425497  1530549646397  -3030.073480  0.000004
2    264425490  1530549644135  -3029.958720  0.000004
3    264425480  1530549642606  -3029.843960  0.000004
4    264425476  1530549641327  -3029.843960  0.000004
5    264415443  1530548396986  -3013.182670  0.000004
6    264415441  1530548396590  -3013.182670  0.000004
7    264330223  1530540221998   2430.100590  0.000004
8    264329614  1530540181407   -772.452000  0.000004
9    264328859  1530540133835    480.000000  0.000004
10   264294628  1530538669811  -3018.867920  0.000004
11   264282118  1530538358466  -8935.510650  0.000004
12   264269787  1530538156122  14920.556861  0.000004
13   264212999  1530529099290   5000.000000  0.000004
14   264212967  1530529096101   5000.000000  0.000004
15   264203183  1530526524650  17242.595720  0.000004
16   264184174  1530519773151  -7490.630000  0.000004
17   264159001  1530513197657 -12722.640000  0.000004
18   264158989  1530513190145  -7633.580000  0.000004
19   264158957  1530513161367 -12722.640000  0.000004
20   264158948  1530513155944 -12722.640000  0.000004
21   264158947  1530513155599 -12722.640000  0.000004
22   264158946  1530513155254  -7633.580000  0.000004
23   264158942  1530513154644  -7633.580000  0.000004
24   264158910  1530513138621 -22929.930000  0.000004
25   264140910  1530506027381     -1.442552  0.000004
26   264114066  1530494357834   7500.000000  0.000004
27   264084604  1530486266565    587.667017  0.000004
28   264081511  1530485642160  -5007.430763  0.000004
29   264078735  1530484685177  -2609.557448  0.000004
..         ...            ...           ...       ...
979  260530764  1529674798545  12655.086000  0.000004
980  260530037  1529674772254   2485.117250  0.000004
981  260526969  1529674621522  -2511.424210  0.000004
982  260524837  1529674544848   4859.071518  0.000004
983  260524836  1529674544847   2487.562190  0.000004
984  260521951  1529674449296   2497.627250  0.000004
985  260521950  1529674449295   2497.627250  0.000004
986  260521904  1529674448065     74.627000  0.000004
987  260521899  1529674447953  14925.373000  0.000004
988  260521885  1529674447679      1.414115  0.000004
989  260521864  1529674447221   7517.375885  0.000004
990  260520083  1529674407666   2516.337320  0.000004
991  260518602  1529674386169   2525.252530  0.000004
992  260510269  1529674276436 -21406.000000  0.000004
993  260506400  1529674199753  -7526.598504  0.000004
994  260506399  1529674199751 -10000.000000  0.000004
995  260506398  1529674199750  -1000.000000  0.000004
996  260506397  1529674199749  -2484.401496  0.000004
997  260506378  1529674199344  -1430.999139  0.000004
998  260506377  1529674199342 -17095.598504  0.000004
999  260506183  1529674196792  -2954.401496  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004
0    264425501  1530549646935  -3029.958720  0.000004

[1009 rows x 4 columns]

In [10]:
table4 = pq.read_table('tETCBTC_trades.parquet')
print(table4.to_pandas())

            ID            MTS      AMOUNT     PRICE
0    264428417  1530550345008    5.051984  0.002521
1    264428216  1530550307714   -1.672671  0.002520
2    264428210  1530550306798  -10.326909  0.002520
3    264428173  1530550299244   -1.000000  0.002520
4    264427343  1530550123419  -38.005012  0.002522
5    264427034  1530550064750  -11.994988  0.002522
6    264426850  1530550009956   17.618606  0.002524
7    264426849  1530550009954    1.216356  0.002524
8    264426848  1530550009952    6.002581  0.002524
9    264426847  1530550009949   55.000000  0.002524
10   264426846  1530550009947    8.128956  0.002524
11   264426845  1530550009945    8.229120  0.002524
12   264426844  1530550009943    3.003869  0.002524
13   264426811  1530549996006    0.800512  0.002524
14   264426777  1530549984700   48.349279  0.002524
15   264426776  1530549984699    6.002581  0.002524
16   264426465  1530549922789   -5.654909  0.002522
17   264426284  1530549895668 -178.278294  0.002522
18   264425766  1530549729186   -2.660000  0.002521
19   264424001  1530549343843  -30.656808  0.002522
20   264424000  1530549343842   -5.999520  0.002522
21   264423922  1530549330693 -207.869300  0.002522
22   264423308  1530549204459   -1.464193  0.002522
23   264423307  1530549204457  -22.435555  0.002522
24   264423297  1530549201677    3.600204  0.002522
25   264423296  1530549201675    3.129242  0.002522
26   264423295  1530549201672   55.000000  0.002522
27   264423294  1530549201669   15.835000  0.002522
28   264423220  1530549189258   14.855718  0.002522
29   264423219  1530549189257    1.282070  0.002522
..         ...            ...         ...       ...
979  264273022  1530538206999    8.428337  0.002565
980  264273021  1530538206997   60.325060  0.002564
981  264273020  1530538206996  140.000000  0.002562
982  264273019  1530538206995   25.000000  0.002560
983  264272998  1530538206498   35.444787  0.002560
984  264272997  1530538206497   23.998999  0.002560
985  264272995  1530538206495   20.590002  0.002556
986  264272987  1530538206424    1.001001  0.002555
987  264272947  1530538206139   14.244900  0.002556
988  264271875  1530538187118   31.289768  0.002556
989  264271868  1530538187039    5.947071  0.002556
990  264271671  1530538184217   33.760044  0.002555
991  264271649  1530538183655   15.565000  0.002555
992  264271644  1530538183541    5.953621  0.002555
993  264271436  1530538180489   -5.090000  0.002554
994  264270996  1530538171902   -5.953621  0.002554
995  264270702  1530538168809  -12.349000  0.002554
996  264270701  1530538168804  -42.550000  0.002554
997  264270700  1530538168800  -42.400000  0.002554
998  264270697  1530538168796  -39.400000  0.002554
999  264270694  1530538168789 -263.301000  0.002554
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521
0    264428417  1530550345008    5.051984  0.002521

[1009 rows x 4 columns]