In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('open&close_minute.csv')
data.head()

  hour_minute        open        close
0       02:00  7349.60000  7343.167650
1       02:01  7352.28195  7339.825954
2       02:02  7338.85449  7339.893320
3       02:04  7334.70000  7334.700000
4       02:05  7311.76500  7292.100000