In [6]:
import pandas as pd
bitdata = pd.read_csv('tIOSBTC.csv')
print(bitdata)

             ID            MTS    AMOUNT        PRICE
0     264428531  1530550380219 -0.200000  6622.000000
1     264428520  1530550374735 -0.290001  6622.000000
2     264428512  1530550370966  0.118359  6622.100000
3     264428511  1530550370963  0.432000  6622.100000
4     264428510  1530550370961  0.302020  6622.100000
5     264428509  1530550370957  0.147621  6622.100000
6     264428506  1530550369359  0.002379  6622.100000
7     264428505  1530550369357  0.010000  6622.100000
8     264428495  1530550366557 -0.133438  6622.000000
9     264428494  1530550366555 -0.086557  6622.000000
10    264428482  1530550363983 -0.251479  6622.000000
11    264428453  1530550356254 -0.121000  6622.000000
12    264428437  1530550350205 -0.020000  6622.000000
13    264428424  1530550348494  0.063056  6622.300000
14    264428416  1530550344975 -0.015000  6622.000000
15    264428415  1530550344973 -0.030000  6622.100000
16    264428408  1530550342010 -0.970000  6622.000000
17    264428407  1530550342007 -0.030000  6622.200000
18    264428398  1530550338848 -0.010000  6622.000000
19    264428397  1530550338580 -0.290000  6622.000000
20    264428392  1530550337596  0.068251  6622.100000
21    264428391  1530550337594  0.030000  6622.100000
22    264428390  1530550337591  0.090000  6622.100000
23    264428389  1530550337551 -0.100000  6622.000000
24    264428384  1530550335044 -0.100000  6622.000000
25    264428370  1530550330716 -0.100000  6622.000000
26    264428363  1530550327398 -1.930000  6622.000000
27    264428362  1530550327358  0.010000  6622.100000
28    264428346  1530550325556  0.187915  6622.100000
29    264428345  1530550325553  0.111035  6622.100000
...         ...            ...       ...          ...
995   264421246  1530548940680 -0.010000  6607.000000
996   264421245  1530548940674 -0.010000  6607.000000
997   264421244  1530548940669 -0.010000  6607.000000
998   264421243  1530548940663 -0.005000  6607.000000
999   264421242  1530548940657 -0.010000  6607.000000
1000  264428531  1530550380219 -0.200000  6622.000000
1001  264428531  1530550380219 -0.200000  6622.000000
1002  264428531  1530550380219 -0.200000  6622.000000
1003  264428539  1530550384551  0.005000  6622.100000
1004  264428531  1530550380219 -0.200000  6622.000000
1005  264428547  1530550385065 -0.329468  6620.900000
1006  264428546  1530550385064 -0.030000  6621.900000
1007  264428545  1530550385061 -0.850000  6622.000000
1008  264428544  1530550385059 -1.787586  6622.000000
1009  264428539  1530550384551  0.005000  6622.100000
1010  264428547  1530550385065 -0.329468  6620.900000
1011  264428547  1530550385065 -0.329468  6620.900000
1012  264428569  1530550388538 -1.000000  6618.000000
1013  264428568  1530550388116 -0.517577  6618.000000
1014  264428567  1530550388114 -0.158900  6618.000000
1015  264428566  1530550388113 -0.004000  6618.000000
1016  264428565  1530550388111 -0.868523  6618.663936
1017  264428563  1530550388106 -0.641477  6618.663936
1018  264428561  1530550388101 -0.174623  6619.100000
1019  264428560  1530550388099 -0.050000  6619.200000
1020  264428559  1530550388096 -0.081900  6619.600000
1021  264428558  1530550388094 -0.030000  6619.900000
1022  264428557  1530550388091 -0.002000  6620.000000
1023  264428547  1530550385065 -0.329468  6620.900000
1024  264428569  1530550388538 -1.000000  6618.000000

[1025 rows x 4 columns]

In [7]:
import matplotlib.pyplot as plt
import dateandtime

In [8]:
def change_date(row):
    data = row['MTS']
    return pd.Series({'date':dateandtime.convert_dates(data)})

new_date = bitdata.apply(change_date, axis = 1)


print(new_date)

                        date
0    2018-07-02 18:53:00.219
1    2018-07-02 18:52:54.735
2    2018-07-02 18:52:50.966
3    2018-07-02 18:52:50.963
4    2018-07-02 18:52:50.961
5    2018-07-02 18:52:50.957
6    2018-07-02 18:52:49.359
7    2018-07-02 18:52:49.357
8    2018-07-02 18:52:46.557
9    2018-07-02 18:52:46.555
10   2018-07-02 18:52:43.983
11   2018-07-02 18:52:36.254
12   2018-07-02 18:52:30.205
13   2018-07-02 18:52:28.494
14   2018-07-02 18:52:24.975
15   2018-07-02 18:52:24.973
16   2018-07-02 18:52:22.010
17   2018-07-02 18:52:22.007
18   2018-07-02 18:52:18.848
19   2018-07-02 18:52:18.580
20   2018-07-02 18:52:17.596
21   2018-07-02 18:52:17.594
22   2018-07-02 18:52:17.591
23   2018-07-02 18:52:17.551
24   2018-07-02 18:52:15.044
25   2018-07-02 18:52:10.716
26   2018-07-02 18:52:07.398
27   2018-07-02 18:52:07.358
28   2018-07-02 18:52:05.556
29   2018-07-02 18:52:05.553
...                      ...
995  2018-07-02 18:29:00.680
996  2018-07-02 18:29:00.674
997  2018-07-02 18:29:00.669
998  2018-07-02 18:29:00.663
999  2018-07-02 18:29:00.657
1000 2018-07-02 18:53:00.219
1001 2018-07-02 18:53:00.219
1002 2018-07-02 18:53:00.219
1003 2018-07-02 18:53:04.551
1004 2018-07-02 18:53:00.219
1005 2018-07-02 18:53:05.065
1006 2018-07-02 18:53:05.064
1007 2018-07-02 18:53:05.061
1008 2018-07-02 18:53:05.059
1009 2018-07-02 18:53:04.551
1010 2018-07-02 18:53:05.065
1011 2018-07-02 18:53:05.065
1012 2018-07-02 18:53:08.538
1013 2018-07-02 18:53:08.116
1014 2018-07-02 18:53:08.114
1015 2018-07-02 18:53:08.113
1016 2018-07-02 18:53:08.111
1017 2018-07-02 18:53:08.106
1018 2018-07-02 18:53:08.101
1019 2018-07-02 18:53:08.099
1020 2018-07-02 18:53:08.096
1021 2018-07-02 18:53:08.094
1022 2018-07-02 18:53:08.091
1023 2018-07-02 18:53:05.065
1024 2018-07-02 18:53:08.538

[1025 rows x 1 columns]

In [5]:
type(new_date)

pandas.core.frame.DataFrame

In [8]:
new_bitdata = bitdata.drop(columns=['exchange','symbol','date'])
new_bitdata = new_bitdata.join(new_date)

In [9]:
new_bitdata.to_csv('datawithnewdate.csv',index=False)