In [18]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
import numpy as np
from datetime import datetime

import plotly
plotly.tools.set_credentials_file(username='yuqi98', api_key='••••••••••')

In [19]:
data = pd.read_csv('feature_minute.csv')
data.head()

  hour_minute        high          low      average        open        close
0       02:00  7357.90000  7343.167650  7351.364330  7349.60000  7343.167650
1       02:01  7352.28195  7339.326204  7346.674273  7352.28195  7339.825954
2       02:02  7361.90000  7338.854490  7341.799657  7338.85449  7339.893320
3       02:04  7334.70000  7334.700000  7334.700000  7334.70000  7334.700000
4       02:05  7311.76500  7292.100000  7299.629420  7311.76500  7292.100000

In [20]:
open_data = data['open']
close_data = data['close']
high_data = data['high']
low_data = data['low']
dates = data['hour_minute']

In [28]:
trace = go.Candlestick(x=dates,
                       open=open_data,
                       high=high_data,
                       low=low_data,
                       close=close_data)
print(trace)
data = [trace]
#py.iplot?
py.iplot(data,'yuqi98@plot.ly')

{'type': 'candlestick', 'x': 0       02:00
1       02:01
2       02:02
3       02:04
4       02:05
5       02:07
6       02:08
7       02:09
8       02:10
9       02:11
10      02:12
11      02:13
12      02:14
13      02:15
14      02:16
15      02:17
16      02:18
17      02:20
18      02:21
19      02:23
20      02:25
21      02:26
22      02:27
23      02:28
24      02:29
25      02:30
26      02:31
27      02:32
28      02:34
29      02:35
        ...
1265    01:24
1266    01:26
1267    01:27
1268    01:28
1269    01:29
1270    01:31
1271    01:32
1272    01:33
1273    01:34
1274    01:35
1275    01:36
1276    01:37
1277    01:39
1278    01:40
1279    01:41
1280    01:42
1281    01:44
1282    01:45
1283    01:46
1284    01:47
1285    01:49
1286    01:50
1287    01:51
1288    01:53
1289    01:54
1290    01:55
1291    01:56
1292    01:57
1293    01:58
1294    01:59
Name: hour_minute, Length: 1295, dtype: object, 'open': 0       7349.600000
1       7352.281950
2       7338.854490
3       7334.700000
4       7311.765000
5       7271.810000
6       7251.900000
7       7279.800000
8       7251.200000
9       7241.200000
10      7248.000000
11      7240.000000
12      7231.855000
13      7212.000000
14      7210.200000
15      7228.000000
16      7245.600000
17      7226.000000
18      7210.000000
19      7241.000000
20      7203.966410
21      7152.584280
22      7147.000000
23      7194.400000
24      7220.000000
25      7167.700000
26      7201.000000
27      7179.670402
28      7172.474020
29      7177.991246
           ...
1265    7162.286981
1266    7165.176715
1267    7167.900000
1268    7169.000000
1269    7157.711568
1270    7160.922384
1271    7155.000000
1272    7161.000000
1273    7172.079970
1274    7170.700000
1275    7168.226990
1276    7159.500000
1277    7144.065600
1278    7128.900000
1279    7123.436107
1280    7127.931250
1281    7109.200000
1282    7059.000000
1283    7076.000000
1284    7099.000000
1285    7112.400000
1286    7098.000000
1287    7077.681979
1288    7131.000000
1289    7142.000000
1290    7153.457237
1291    7148.000000
1292    7124.000000
1293    7140.500000
1294    7128.172061
Name: open, Length: 1295, dtype: float64, 'high': 0       7357.900000
1       7352.281950
2       7361.900000
3       7334.700000
4       7311.765000
5       7271.810000
6       7269.000000
7       7298.000000
8       7251.200000
9       7253.000000
10      7248.000000
11      7240.000000
12      7231.855000
13      7215.800000
14      7224.000000
15      7236.000000
16      7245.600000
17      7232.000000
18      7210.000000
19      7241.000000
20      7203.966410
21      7152.664190
22      7210.000000
23      7251.000000
24      7220.907330
25      7175.918000
26      7213.000000
27      7179.670402
28      7185.027708
29      7187.000000
           ...
1265    7162.286981
1266    7165.176715
1267    7168.600000
1268    7169.000000
1269    7160.119680
1270    7161.002654
1271    7181.000000
1272    7161.000000
1273    7172.079970
1274    7171.100000
1275    7168.226990
1276    7161.800000
1277    7144.065600
1278    7130.000000
1279    7126.000000
1280    7127.931250
1281    7111.300000
1282    7059.000000
1283    7083.600000
1284    7109.000000
1285    7112.400000
1286    7100.200000
1287    7077.681979
1288    7139.000000
1289    7151.289936
1290    7153.457237
1291    7148.000000
1292    7124.000000
1293    7151.100000
1294    7136.200000
Name: high, Length: 1295, dtype: float64, 'low': 0       7343.167650
1       7339.326204
2       7338.854490
3       7334.700000
4       7292.100000
5       7271.810000
6       7249.000000
7       7279.800000
8       7237.000000
9       7241.200000
10      7241.444200
11      7240.000000
12      7231.855000
13      7206.923080
14      7204.000000
15      7227.500000
16      7225.000000
17      7217.100000
18      7210.000000
19      7222.100000
20      7175.000000
21      7144.900000
22      7144.753100
23      7194.400000
24      7176.000000
25      7165.529700
26      7193.300000
27      7179.670402
28      7170.475025
29      7177.191648
           ...
1265    7162.286981
1266    7151.000000
1267    7159.000000
1268    7150.000000
1269    7157.711568
1270    7132.000000
1271    7155.000000
1272    7161.000000
1273    7172.079970
1274    7170.700000
1275    7168.226990
1276    7159.500000
1277    7108.800000
1278    7108.700000
1279    7123.436107
1280    7127.000000
1281    7071.822240
1282    7050.000000
1283    7076.000000
1284    7099.000000
1285    7112.400000
1286    7089.401458
1287    7077.681979
1288    7131.000000
1289    7142.000000
1290    7153.457237
1291    7131.100000
1292    7123.275566
1293    7123.500000
1294    7128.172061
Name: low, Length: 1295, dtype: float64, 'close': 0       7343.167650
1       7339.825954
2       7339.893320
3       7334.700000
4       7292.100000
5       7271.810000
6       7269.000000
7       7298.000000
8       7237.000000
9       7249.000000
10      7245.439700
11      7240.000000
12      7231.855000
13      7211.957410
14      7219.868500
15      7236.000000
16      7225.000000
17      7217.100000
18      7210.000000
19      7222.100000
20      7179.593860
21      7144.900000
22      7210.000000
23      7215.873000
24      7176.000000
25      7165.529700
26      7193.300000
27      7179.670402
28      7184.800000
29      7178.710884
           ...
1265    7162.286981
1266    7151.000000
1267    7168.600000
1268    7150.000000
1269    7160.119680
1270    7155.000000
1271    7176.000000
1272    7161.000000
1273    7172.079970
1274    7171.100000
1275    7168.226990
1276    7161.002654
1277    7108.800000
1278    7123.100000
1279    7126.000000
1280    7127.000000
1281    7071.822240
1282    7050.000000
1283    7083.000000
1284    7105.000000
1285    7112.400000
1286    7089.401458
1287    7077.681979
1288    7139.000000
1289    7151.000000
1290    7153.457237
1291    7131.100000
1292    7123.275566
1293    7123.500000
1294    7136.200000
Name: close, Length: 1295, dtype: float64}

TypeError: iplot() takes 1 positional argument but 2 were given